@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #eee;
    height: 70px;
    padding: 0 100px;
}

.logo{
    font-size: 1.5rem;
    margin: .5rem;
}
.logo a{
    color: #eee;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li a{
    color: #eee;
    padding: 1rem;
    display: block;
}
.navbar-links li a.active{
    color: #ff3d00;
}

.logo a:hover,.navbar-links a:hover{
    color: red;
    background-color: rgb(26, 25, 25);
    transition: all 0.2s ease-in;
}

.navbar form{
    display: flex;
    height: 40px;
    background: transparent;
    border-radius: 3px;
    padding: 2px;
    min-width: 18% !important;
    border: 1px solid rgba(155, 155, 155, 0.267);

}
.navbar form .search-data{
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: #eee;
    font-weight: 500;
    background-color: #111;
    border: none;
    font-size: 17px;
}

.navbar form button{
    padding: 1px 15px;
    background: #ff3d00;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: #eee;
}
.navbar form button:hover{
    color: rgb(255, 255, 255);
    background-color: #ff4810;
}

.navbar .menu-icon,
.navbar .search-icon,
.navbar .cancel-icon{
    width: 40px;
    color: #eee;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    cursor: pointer;
    display: none;
}

.navbar .menu-icon span,
.navbar .search-icon,
.navbar .cancel-icon{
    display: none;
}

@media (max-width: 1245px) {
    .navbar{
        padding: 0 50px;
    }
    
}
@media (max-width: 1140px) {
    .navbar{
        padding: 0px;
    }
    .navbar .logo{
        flex: 2;
        text-align: center;
    }
    .navbar .navbar-links ul{
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: -100%;
        height: 100%;
        background: #111;
        display: inline-block;
        padding: 10px 50px 0 50px;
        text-align: center;
        transition: left 0.3s ease;

    }

    .navbar .navbar-links ul.active{
        left: 0;
    }
    .navbar .navbar-links li{
        line-height: 40px;
        margin: 30px 0;
    }
    .navbar .navbar-links li a{
        font-size: 20px;
    }
    .navbar form{
        position: absolute;
        top: 80px;
        right: 50px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
    }
    .navbar form.active{
        top: 95px;
        opacity: 1;
        pointer-events: auto;
    }

    .navbar form::before{
        position: absolute;
        content: "";
        top: -13px;
        right: 0;
        width: 0;
        height: 0;
        z-index: -1;
        margin: -20px 0 0;
        border: 10px solid transparent;
        border-bottom-color: #1e232b;
    }
    .navbar form::after{
        position: absolute;
        content: "";
        height: 60px;
        width: calc(100% + 20px);
        padding: 2px;
        background: #1e232b;
        border-radius: 3px;
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
    }

    .navbar .menu-icon{
        display: block;
    }

    .navbar .search-icon,
    .navbar .menu-icon span{
        display: block;

    }
    .navbar .search-icon.hide,
    .navbar .menu-icon span.hide{
        display: none;
    }
    .navbar .cancel-icon.show{
        display: block;
    }
    
}

@media (max-width: 980px){
    .navbar .menu-icon,
    .navbar .search-icon,
    .navbar .cancel-icon{
        margin: 0 20px;
    }

    .navbar form{
        right: 30px;
    }
}
@media (max-width: 350px){
    .navbar .menu-icon,
    .navbar .search-icon,
    .navbar .cancel-icon{
        margin: 0 10px;
        font-size: 16px;
    }

    .navbar form{
        right: 30px;
    }
}


section{
    background: url(https://source.unsplash.com/1000x700/?scenery,red) no-repeat center center;
    background-size: cover;
    height: calc(100vh - 70px);
}